/* Testing.css */
.Testing {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(185, 240, 117);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
    clear: both;/* This will ensure options are displayed underneath each other */
  }
  
  button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  